*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.formContact{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4DB6B4;
}